<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link th:href="@{/assets/css/sb-admin.css}" rel="stylesheet">

    <script src="/webjars/vue/2.3.4/dist/vue.min.js"></script>
    <style>
        .thumb {
            width: 50px;
            height: 50px;
        }
    </style>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">


<!-- Navigation-->
<nav th:replace="layout/header :: navbar"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="../index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Blank Page</li>
        </ol>
        <div class="row">
            <div class="col-12">
                <form method="post" action="/api/book/upload" enctype="multipart/form-data">
                    <label>File</label>
                    <input id="attach-file" type="file" name="attach-file">
                    <button type="submit">Submit</button>
                </form>
                <button onclick="onClickSubmit()">AjaxSubmit</button>
                <div id="thumb-area">

                </div>
                <div id="data-area">

                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Your Website 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="../login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/assets/js/sb-admin.min.js"></script>

    <!--https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL-->
    <!--https://stackoverflow.com/questions/13556812/using-this-with-filereader-to-target-result-->
    <!--https://developer.mozilla.org/ko/docs/Web/API/FileReader/readAsDataURL-->
    <script>
        function onClickSubmit() {
            'use strict';
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.onload = function cb(e) {
                console.log("***")
                console.log(e);
                console.log("***");

                thumbImage(file, e);
                dataSender(file, e);

            }
            reader.readAsDataURL(file);
        }


        function thumbImage(file, onload) {

            if (/^image/.test(file.type)) {
            $('#thumb-area').prepend("<img class='thumb' src='" + onload.target.result + "'/>");
            }
            // download 를 누르는 기능은 파폭은 되고 크롬은 안된다. 흠좀무.
            $('#data-area').prepend("<a href=" + onload.target.result + ">download</a>");
        }

        function dataSender(file, onload) {
            var target = {name: file.name, size: file.size, type: file.type, data: onload.target.result};

            $.ajax({
                method: "post",
                url: '/api/book/upload/ajax',
                contentType: 'application/json',
                data: JSON.stringify(target),

            }).done(function () {
                    console.log('done');
                }
            )


        }

    </script>
</div>
</body>

</html>
