<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>

</head>

<body onbeforeunload="return closeEditorWarning()" class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav th:replace="layout/header :: navbar"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
        <div id="summernote"></div>
    </div>
    <div>
        <button onclick="editorSave()">Save</button>
        <!-- summernote('insertText',data) 란 옵션으로 처리가 가능하지만 tempSave 를 하려니 summernote에서 tag를 무시해서 넣기 때문에 완벽하게 리보크 힘들다 -->
    </div>
</div>

<!-- https://summernote.org/getting-started/#simple-example -->
<script>
    $('#summernote').summernote({
        tabsize: 2,
        height: 100
    });

    function editorSave() {

        // TODO need Ajax function create here
        var markupStr = $('#summernote').summernote('code');
    }

    function editorClear() {
        if (confirm('Do Yoㄴu want To Clear?') == true) {
            $('#summernote').summernote('reset');
        }
        return;
    }


    //  https://www.w3schools.com/jsref/event_onbeforeunload.asp
    function closeEditorWarning(){
        return '';
    }

</script>
</body>

</html>
