<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div>
    <table border="1px">
        <thead>
        <tr>
            <th>Book board</th>
        </tr>
        <tr>
            <td>No</td>
            <td>제목</td>
            <td>작가</td>
            <td>종류</td>
            <td>비고</td>
            <td>Path</td>
            <td>관리서버</td>
            <td>등록한 사람</td>
            <td>나와의 약속 시각</td>
            <td>등록 시각</td>
            <td>업데이트 시각</td>
            <td>상태</td>
        </tr>
        </thead>

        <tbody>

        <tr th:each="l:${list}">
            <td th:text="${l.no}"/>
            <td th:text="${l.subject}"/>
            <td th:text="${l.author}"/>
            <td th:text="${l.book_type}"/>
            <td th:text="${l.note}"/>
            <td th:text="${l.path}"/>
            <td th:text="${l.server_name}"/>
            <td th:text="${l.reg_id}"/>
            <td th:text="${l.future_date}"/>
            <td th:text="${l.reg_date}"/>
            <td th:text="${l.update_date}"/>
            <td th:text="${l.read_status}"/>
        </tr>

        </tbody>
    </table>

</div>
<div>
    <input type="button" value="New"/>

</div>

</body>
</html>